@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    
}

:root{

    --fonte-destaque:"Passion One",Arial;

    --fonte-main: "Sriracha",Arial,sans-serif;
}


header{
    background-color: black;
    background-position: center;
    padding:30px 0px 30px 0px;
    
}

header h1{
    
    font-family: var(--fonte-destaque);
    text-align: center;
    color: white;
    background-size: cover;
    display: block;
    font-size: 9vw;
}

header p{
    font-family: var(--fonte-destaque);
    text-align: center;
    color: white;
    
}

article{

    font-family: var(--fonte-main);
    font-size: 3vw;
    margin-top: 10px;
    padding-top: 50px;
}

article p{
    padding-top: 45px;
    padding-left: 40px;
    padding-bottom: 130px;
}


#texto-imagem1{
    background-image: url('../img/background001.jpg');
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 30vw;
}

.estilo{
    position: absolute;
    color: white;
    display: block;
}

#texto-imagem2{
    background-image: url('../img/background002.jpg');
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 30vw;
}
   

#espaco-linha{
    padding-top:130px;
}
    

div.pular-linha{
    padding-bottom: 150px;
}


footer{
    background-color: black;
    padding: 10px 0px 10px 0px;
    color:white;
    font-size: 1.3em;
    font-weight: 200;
    text-align:center;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: normal;
    background-color: rgb(151, 138, 122);
    background-size:1.3em;
}

footer a:hover{
    color: rgb(168, 71, 71);
    font-weight: bolder;
}